* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: #761e20;
}